*
{
   margin:0px;
   padding:0px;
 }
#wrap
  {
     border:0px solid black;
     height:1000px;
     width:950px;
     margin:auto;
     }
#header
{ 
   /*background-image:url(images/img6.jpg);*/
   background-color:white;
   height:80px;
   text-align:left;
   font-size:30px;
   color:red;
  
}

#t{
    text-shadow:2px 1px red;
	padding:20px;

	}
#k
{
  color:red;
  font-size:20px;
  }

	
#searchbox
{
     width: 250px;
    height: 23px;
    padding: 17px;
	float:right;;
   
}

#nav,#nav ul {
list-style: none outside none;
margin: 0;
padding: 0;
}
#nav {
background-color:black;
/*background: url("images/img12.jpg") no-repeat scroll 0 0 transparent;*/
clear: both;
font-size: 12px;
height: 58px;
padding: 0 0 0 9px;
position: relative;
width: 950px;
margin:0 auto;
}
#nav ul {
background-color: #222;
border:1px solid #222;
border-radius: 0 5px 5px 5px;
border-width: 0 1px 1px;
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
left: -9999px;
overflow: hidden;
position: absolute;
top: -9999px;
z-index: 2;
-moz-transform: scaleY(0);
-ms-transform: scaleY(0);
-o-transform: scaleY(0);
-webkit-transform: scaleY(0);
transform: scaleY(0);
-moz-transform-origin: 0 0;
-ms-transform-origin: 0 0;
-o-transform-origin: 0 0;
-webkit-transform-origin: 0 0;
transform-origin: 0 0;
-moz-transition: -moz-transform 0.1s linear;
-ms-transition: -ms-transform 0.1s linear;
-o-transition: -o-transform 0.1s linear;
-webkit-transition: -webkit-transform 0.1s linear;
transition: transform 0.1s linear;
}
#nav li {
/*background: url('imgs/img7.jpg') no-repeat scroll right 5px transparent;*/
float: left;
position: relative;
}
#nav li a {
color: #FFFFFF;
display: block;
float: left;
font-weight: normal;
font-size:18px;
height: 30px;
padding: 23px 20px 0;
position: relative;
text-decoration: none;
text-shadow: 1px 1px 1px #000000;
}
#nav li:hover > a {
color: #00B4FF;
}
#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
background: none repeat scroll 0 0 green;
outline: 0 none;
}
#nav li:hover ul.subs {
left: 0;
top: 53px;
width: 180px;
-moz-transform: scaleY(1);
-ms-transform: scaleY(1);
-o-transform: scaleY(1);
-webkit-transform: scaleY(1);
transform: scaleY(1);
}
#nav ul li {
background: none;
width: 100%;
}
#nav ul li a {
float: none;
}
#nav ul li:hover > a {
background-color: #121212;
color: #00B4FF;
}


#main
{
  width:930px;
  height:655px;
  border:0px solid red;
  margin:auto;
  margin-top:15px;
  
  }
  #first
  {
      width:300px;
	  float:left;
	  height:400px;
	  margin:5px;

}
#title
{
  font-size:18px;
  font-weight:bold;
  color:orange;
  padding:10px;
  }
  #content
  {   padding:10px;
     text-align:justify;
	 }

 #second
  {
      width:300px;
	  float:left;
	  height:400px;
	  margin:5px;

}
  #third
  {
      width:300px;
	  float:left;
	  height:400px;
	  margin:5px;

}
#mainnews
{
   width:930px;
   border:0px solid green;
   margin:auto;
   margin-top:15px;
   height:580px;
   padding:5px;

   }

#mainnews img
{
  padding:7px;
 margin:7px;
 }

 #footer
{ 
  background-color:#eee; 
   margin-top:20px;
   height:80px;
   color:red;
   font-size:20px;
 }


